<div id="dashboard-chart" *ngIf="!loading">
  <div class="chartrow">
    <linechart
      class="col-md-6"
      *ngIf="Zeeland.length > 0"
      [data]="Zeeland"
      [text]="Zeeland[0].region"
      [chartId]="Zeeland[0].region"
    ></linechart>
    <div
      class="col-md-6 error"
      *ngIf="(!Zeeland || Zeeland.length < 1) && finishedloading"
    >
      <p>De data van Zeeland is niet beschikbaar.</p>
    </div>
    <linechart
      class="col-md-6"
      *ngIf="NoordBrabant.length > 0"
      [data]="NoordBrabant"
      [text]="NoordBrabant[0].region"
      [chartId]="NoordBrabant[0].region"
    ></linechart>
    <div
      class="col-md-6 error"
      *ngIf="(!NoordBrabant || NoordBrabant.length < 1) && finishedloading"
    >
      <p>De data van Noord Brabant is niet beschikbaar.</p>
    </div>
  </div>
  <div class="chartrow">
    <linechart
      class="col-md-6"
      *ngIf="ZuidHolland.length > 0"
      [data]="ZuidHolland"
      [text]="ZuidHolland[0].region"
      [chartId]="ZuidHolland[0].region"
    ></linechart>
    <div
      class="col-md-6 error"
      *ngIf="(!ZuidHolland || ZuidHolland.length < 1) && finishedloading"
    >
      <p>De data van Zuid Holland is niet beschikbaar.</p>
    </div>
    <linechart
      class="col-md-6"
      *ngIf="Friesland.length > 0"
      [data]="Friesland"
      [text]="Friesland[0].region"
      [chartId]="Friesland[0].region"
    ></linechart>
    <div
      class="col-md-6 error"
      *ngIf="(!Friesland || Friesland.length < 1) && finishedloading"
    >
      <p>De data van Friesland is niet beschikbaar.</p>
    </div>
  </div>
</div>
