.searchbox{
  text-align: center;;
}

.searchbox input{
  width: 50%;
  margin: 10px;
}

.customertable {
  margin-top: 50px;
  text-align: center;
}

.customertable table{
  margin-left: 20%;
  width: 100%;
  text-align: left;
  th{
    height: 50px;
  }
}

.btn{
  margin-top: 10px;
}
