<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm col-md-8">
      <div class="searchbox">
        <h2>Klant zoeken</h2>
          <input [(ngModel)]="searchquery"  placeholder="Klantnummer" />
        <div>
          <button class="btn btn-primary" (click)="searchCustomer()">Zoeken</button>
        </div>
      </div>
      <div class="customertable" *ngIf="customer != null">
        <div>
          <table>
            <tr>
              <td>Klantnummer:</td>
              <td>{{ customer.customerCode }}</td>
            </tr>
            <tr>
              <td>Voornaam:</td>
              <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
              <td>Achternaam:</td>
              <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{ customer.email }}</td>
            </tr>
            <tr>
              <td>Telefoon:</td>
              <td>{{ customer.phoneNumber }}</td>
            </tr>
            <tr>
              <td>Mobiel:</td>
              <td>{{ customer.mobileNumber }}</td>
            </tr>
            <tr>
              <td>Straat:</td>
              <td>{{ customer.street }}</td>
            </tr>
            <tr>
              <td>Huisnummer:</td>
              <td>{{ customer.houseNumber }}</td>
            </tr>
            <tr>
              <td>Postcode:</td>
              <td>{{ customer.zipCode }}</td>
            </tr>
            <tr>
              <td>Woonplaats:</td>
              <td>{{ customer.city }}</td>
            </tr>
          </table>
          <div>
            <button class="btn btn-primary" (click)="deleteCustomer()">Verwijder deze klant</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

