<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm col-md-8">
      <div class="newcustomer">
        <h2>Nieuwe Klant</h2>
        <input [(ngModel)]="firstname" placeholder="Voornaam" />
        <input [(ngModel)]="lastname" placeholder="Achternaam" />
        <input [(ngModel)]="email" placeholder="E-mail" />
        <input [(ngModel)]="phone" placeholder="Telefoon" />
        <input [(ngModel)]="mobile" placeholder="Mobiel" />
        <input [(ngModel)]="street" placeholder="Straat" />
        <input [(ngModel)]="housenumber" placeholder="Huisnummer" />
        <input [(ngModel)]="zipcode" placeholder="Postcode" />
        <input [(ngModel)]="city" placeholder="Woonplaats" />
        <div>
          <button class="btn btn-primary"(click)="newCustomer()">Registreer nieuwe klant</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
