.customeroverview {
  display: inline-block;

  width: 50%;

  padding: 10px 100px;

  text-align: center;
  input {
    width: 50%;
    height: 25px;
    margin-bottom: 12px;
  }
}

.overview h2 {
  text-align: center;
}

.customerstable{
  width: 100%;
  text-align: left;
  th{
    height: 50px;
  }
}
