<div class="customeroverview">
  <h2>Klantoverzicht</h2>

  <div>
    <table class="customerstable">
      <th>Klantnummer</th>
      <th>Email</th>
      <th>Voornaam</th>
      <th>Achternaam</th>
      <tr *ngFor="let customer of customers" >
        <td><a [routerLink]="['/customermanagement/customeroverview/customer']" [queryParams]="{customerCode: customer.customerCode}">{{customer.customerCode}}</a></td>
        <td>{{customer.email}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
      </tr>
    </table>
  </div>
</div>
