<ng-container *ngIf="loggedIn === true">
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="/">
         Home
        </a>
      </li>
      <li>
        <a routerLink="customermanagement">
          CRM
        </a>
      </li>
      <li>
        <a routerLink="regional-dashboard">
          Regional Dashboard
        </a>
      </li>
      <li>
        <a routerLink="national-dashboard">
          National Dashboard
        </a>
      </li>
    </ul>
  </nav>
</ng-container>
<router-outlet></router-outlet>
